<nav>
	<a class="btn btn-primary" href="#/students">
		<i class="fa fa-arrow-left"></i> Back
	</a>
</nav>

<h3>{{student.name}}</h3>

<table class="table">
	<thead>
		<th>Period</th>
		<th>Class Name</th>
		<th>Teacher Name</th>
	</thead>
	<tbody>
		{{#each student.schedule}}
			<tr>
				<td>{{period}}</td>
				<td>{{className}}</td>
				<td>{{teacherName}}</td>
			</tr>
		{{/each}}
	</tbody>
</table>